//Colors
$color-primary: #66FCF1;
$color-secondary: #C5C6C7;
$color-black: #0C0B10;
$color-dark: #1F2833;
$color-info: #45A29E;

//Grid
$grid-width: 100vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
