body {
  height: 100vh;
  width: 100vw;
  background-color: #1f2833;
  overflow-y: hidden;
}

#container{
  display: flex;
}

#side-nav{
  height: 100vh;
  width: 5.5em;
  margin: 0;
  background-color: #0b0c10;
}

#content{
  height: 100vh;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section{
  height: 100vh;
}

.nav-ul{
  display: block;
  margin-top: 0;
}

.nav-item{
  height: 5em;
  width: 100%;
  text-align: center;
  padding-top: .5em;
}

.nav-item:hover{
  background-color: #45A29E;
  color: #C5C6C7;
}

a{
  color: #45A29E;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 85vh solid transparent;
	border-right: 85vh solid transparent;
	border-bottom: 98vh solid #45A29E;
  margin: 0;
}
.banner{
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  margin-top: .45em;
}


#down-arrow{
  margin-left: -0.5em;
  color: #45A29E;
  border-radius: 50px;
  background-color: #C5C6C7;
}
#down-arrow:hover{
  background-color: #45A29E;
  color: #C5C6C7;
}
#az{
  height: 40em;
  width: 20vw;
}
#couch{
  height: 150px;
  padding-top: 0;
  margin-top: -5em;
}

/* google fonts */
.anton{
  font-family: 'Anton', sans-serif;
}
.no-marg{
  margin: 0;
}
.marg-top-sm{
  margin-top: 1em;
}
.marg-top-md{
  margin-top: 5em;
}
.marg-top-lg{
  margin-top: 10em;
}
.marg-left-sm{
  margin-left: 2em;
}
.marg-left-md{
  margin-left: 5em;
}
.marg-left-lg{
  margin-left: 10em;
}

@media screen and (max-width: 1038px){
  .banner{
    margin-top: 0;
    font-size: 2.75em;
  }
}

@media screen and (max-width: 757px){
  .banner{
    font-size: 2.5em;
    margin-top: .5em;
  }
}

@media screen and (max-width: 1300px){
  #couch{
    margin-left: 38vw;
    margin-top: -2em;
  }
}

@media screen and (max-width: 1150px){
  #couch{
    margin-left: 37vw;
    margin-top: -2em;
  }
}

@media screen and (max-width: 950px){
  #couch{
    margin-left: 36vw;
    margin-top: -2em;
  }
}

@media screen and (max-width: 850px){
  #couch{
    margin-left: 35vw;
    margin-top: -2em;
  }
}

@media screen and (max-width: 500px){
  #couch{
    margin-left: 4rem;
    margin-top: -2em;
  }
}
