.dev-skills{

  height: 95vh;
  margin: 0 9%;
  padding-top: 4rem;
  color: $color-info;
  font-size: 2.5rem;
  font-family: 'PT Sans', sans-serif;
  text-align: left;;

  &__title {
    margin-bottom: 3rem;
  }


  &__img {
  height: 10rem;
}

}
